DATABASE_URL=mysql+pymysql://user:password@localhost:3306/shelby_pod
APTOS_NODE_URL=https://fullnode.devnet.aptoslabs.com/v1
APTOS_PRIVATE_KEY=your_aptos_private_key_hex
APTOS_MODULE_ADDRESS=0xYourModuleAddressHere
SHELBY_API_URL=https://api.shelby.network/v1
SHELBY_API_KEY=your_shelby_api_key_here
